@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@1,400;1,700&family=Rubik&family=Suez+One&display=swap");
:root {
  --primary-purple: hsl(259, 100%, 65%);
  --primary-light-red: hsl(0, 100%, 67%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-off-white: hsl(0, 0%, 94%);
  --neutral-light-grey: hsl(0, 0%, 86%);
  --neutral-smokey-grey: hsl(0, 1%, 44%);
  --neutral-off-black: hsl(0, 0%, 8%);
  --font-size-inputs: 32px;
  --font-size-titles: 80px;
  --font-family: "Roboto";
  --font-weight-400i: 400i;
  --font-weight-700: 700;
  --font-weight-800i: 800i;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

body {
  background-color: var(--neutral-off-white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  background-color: var(--neutral-white);
  width: 850px;
  height: 550px;
  border-radius: 15px 15px 200px 15px;
  display: grid;
  grid-template-rows: 25% 20% auto;
  padding: 40px;
}
.row {
  display: flex;
  flex-direction: row;
  font-weight: 800;
}

.cutline button {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.section-1 {
  display: flex;
  width: 100%;
  align-items: start;
}

.section-1.error .date label {
  color: var(--primary-light-red);
}
.section-1.error .date .input input {
  border: 1px solid var(--primary-light-red);
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.date .input {
  height: 3.5rem;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.date .input input {
  width: 100%;
  height: 100%;
  font-weight: 700;
  text-align: center;
  color: var(--neutral-smokey-grey);
  border-radius: 10px;
  font-size: var(--font-size-inputs);
}

.date label {
  text-transform: uppercase;
  color: var(--neutral-smokey-grey);
  letter-spacing: 4px;
  font-size: var(--font-size-inputs);
}

.section-2 {
  width: inherit;
}

.cutline {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cutline .line {
  height: 2px;
  width: 100%;
  background-color: var(--neutral-smokey-grey);
}

.cutline button img:hover {
  background-color: var(--neutral-off-black);
}

.cutline button img {
  background-color: var(--primary-purple);
  border-radius: 50%;
  padding: 20px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-2 .row {
  font-size: var(--font-size-titles);
  gap: 10px;
}

.bold-line {
  color: var(--primary-purple);
}

.attribution {
  position: absolute;
  bottom: 1.5rem;
  font-size: 16px;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  .cutline button {
    right: 50%;
    transform: translate(50%);
  }
  .container {
    width: 850px;
    height: 500px;
    padding: 2rem;
    margin: 0 1rem;
    align-content: space-around;
  }
  .date .input {
    height: 3rem;
  }
  .date .input input {
    font-size: 24px;
  }
  .date label {
    font-size: 13px;
  }
  .section-2 .row {
    font-size: 48px;
  }
}
